@charset "UTF-8";
*{
  margin: 0;
  padding:0;
  list-style:none;
  overflow: hidden;
}
html,body{
  width: 100%;
  height:100%;
}
a{
  text-decoration: none;
}
#header_z{
  width: 100%;
  height: 155px;
  background: #070707;
  .mar_z{
    width: 1198px;
    height:155px;
    margin: 0 auto;
    position: relative;
    background: #070707;
    color:white;

    #nav{
      width: 126px;
      height: 155px;
      margin-left: 132px;
      .logo_z{
        width: 78px;
        height:88px;
        margin: 18px 23px 15px 26px;
      }
      .logo_p_z{
        width: 126px;
        height: 16px;
        margin-bottom: 14px;
        color: #ffffff;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
      }
    }
    .logo_z_z{
      width: 289px;
      height:26px;
      position: absolute;
      top:65px;
      left:455px;
    }
  }
}

#foot_z{
    width: 100%;
    height:130px;
    position: absolute;
    bottom:0;
    background: #070707;
      .foot_n_z{
        width: 1198px;
        height: 130px;
        margin: 0 auto;
        text-align: center;
        a{
          color: #fdfdfb;
        }
      .foot_p_z{
        font-size: 12px;
        font-family:宋体;
        color: #fdfdfb;
        text-align: center;
        span{
          margin: 0 5px;
        }
      }
      .foot_mat_z{
        width: 504px;
        margin: 0 auto;
        margin-top: 35px;
      }
      .foot_mam_z{
        width: 534px;
        margin: 12px auto;
      }
      .foot_mab_z{
        width: 216px;
        margin: 0 auto;
        margin-bottom: 30px;
      }
  }


}








